:root{

    /*fonts*/
    --paragraph:"Source Sans 3", sans-serif;
    --title:font-family: "Libre Baskerville", serif;

    /*colors*/
    --oliveGreen: #0c4325;
    --green: #2e613d;
    --seaGreen:#6e9079;
    --whiteGreen: #ebefe1;
    --guitar: #8d4116;
    --clarGuitar:#885111;

    --transp-oliveGreen: #0c432597;
    --transp-green: #2e613d91;
    --transp-seaGreen:#6e90797c;
    --transp-whiteGreen: #ebefe181;
}
/*---pre-organization*/
a{text-decoration: none;
color: var(--whiteGreen);}
li{list-style: none;}
button{border: none;}
p, h1,h2,h3,h4,h5,h6{cursor: default;}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*home*/
.home-container{
    background: linear-gradient(to bottom, var(--transp-oliveGreen) 0%, var(--transp-green) 60%, var(--transp-whiteGreen) 100% ), url(/img/home-bg.jpg) no-repeat center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}
.menu{display: none;}
.navbar{
    display: flex;
    position: fixed;
    z-index: 999;
    width: 100%;
    height: auto;
    padding: 10px 30px;
    background: var(--transp-oliveGreen);
}
.navbar ul{
    display: flex;
    width: 100%;
    font-family: var(--title);
    text-transform: uppercase;
    justify-content: space-around;
}
.banner{
    padding: 150px;
    color: var(--whiteGreen);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.banner h1{
    font-family: var(--title);
    text-transform: uppercase;
    margin: 30px;
    font-size: 80px;
    text-shadow: 2px 2px 5px #222;
}
.banner h2{
    font-family: var(--paragraph);
    text-transform: uppercase;
    margin: 10px;
    text-shadow: 2px 2px 5px #222;
}
.banner p{
    font-family: var(--paragraph);
    text-align: justify;
    width: 50%;
    background: var(--transp-seaGreen);
    padding: 20px;
    margin: 10px;
    font-size: 24px;
    text-shadow: 2px 2px 5px #222;
    box-shadow: 2px 2px 10px #222;
}
.home-content{
    margin: 80px;
    color: var(--oliveGreen);
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: var(--paragraph);
    height: 90vh;
    position: relative;
}
.home-content h2{
    font-family: var(--title);
    text-transform: capitalize;
    font-size: 45px;
}
.content-div{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background: var(--seaGreen);
}
.content-div img{
  width: 50%;
  height: auto;
  margin: 10px;
  box-shadow: 2px 2px 10px #222;
  
}
.content-div p{
  text-align: justify;
  font-size: 16px;
  padding: 10px;
  margin: 0 50px;
  width: 70%;
}
/*tools*/









/*footer*/
footer{
    background:linear-gradient(to bottom, var(--transp-oliveGreen) 0%, var(--transp-green) 60%, var(--transp-whiteGreen) 100% ), url(/img/home-content2.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    padding: 30px 0;
}
.ending{
    display: flex;
    justify-content: space-around;
}
