:root{

    /*fonts*/
    --paragraph:"Source Sans 3", sans-serif;
    --title:font-family: "Libre Baskerville", serif;

    /*colors*/
    --oliveGreen: #0c4325;
    --green: #2e613d;
    --seaGreen:#6e9079;
    --whiteGreen: #ebefe1;
    --guitar: #8d4116;
    --clearGuitar:#885111;

    --transp-oliveGreen: #0c432597;
    --transp-green: #2e613d91;
    --transp-seaGreen:#6e90797c;
    --transp-whiteGreen: #ebefe181;
}
/*---pre-organization*/
a{text-decoration: none;
color: var(--whiteGreen);}
li{list-style: none;}
button{border: none;}
p, h1,h2,h3,h4,h5,h6{cursor: default;}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
}
/*home*/
#home{
    display: flex;
    flex-direction:column;
}
.home-container{
    background: linear-gradient(to bottom, var(--transp-oliveGreen) 0%, var(--transp-green) 60%, var(--transp-whiteGreen) 100% ), url(./img/home-bg.jpg) no-repeat center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}
.menu{
    position: fixed;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
    padding: 10px 30px;
    background-color: var(--oliveGreen);
    z-index: 999;
    top: -700px;
}
.menu ul{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    text-transform: uppercase;
    justify-content: space-between;
    position: relative;
}
.menu ul li{
    border-bottom: 1px solid var(--seaGreen);
   
}
.menu ul li a{
    font-size: 22px;
}
.navbar{
    display: flex;
    position: fixed;
    top: 0;
    z-index: 999;
    width: 100%;
    height: auto;
    padding: 10px 30px;
    background: var(--transp-oliveGreen);
}
.navbar ul{
    display: flex;
    width: 100%;
    text-transform: uppercase;
    justify-content: space-around;
    position: relative;
}
.navbar ul li{
    width: 20%;
    text-align: center;
}

.navbar ul li a{
    font-size: 20px;
    font-family: var(--title);
}

.navbar ul li a:hover{
    color: var(--clearGuitar);
}
.toolMenuBtn, .toggle_bnt{
    color: var(--whiteGreen);
    font-stretch: 20px;
    cursor: pointer;
    display: none;
    position: fixed;
    right: 5%;
    top: 5%;
    z-index: 999;
    font-size: 25px;
    padding: 10px 15px;
    background-color: var(--transp-green);
    box-shadow: 2px 2px 7px #222;
    border-radius: 3px;
}
.banner{
    padding: 150px;
    color: var(--whiteGreen);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.banner h1{
    font-family: var(--title);
    text-transform: uppercase;
    margin: 30px;
    font-size: 80px;
    text-shadow: 2px 2px 5px #222;
}
.banner h2{
    font-family: var(--paragraph);
    text-transform: uppercase;
    margin: 10px;
    text-shadow: 2px 2px 5px #222;
}
.banner p{
    font-family: var(--paragraph);
    text-align: justify;
    width: 50%;
    background: var(--transp-seaGreen);
    padding: 20px;
    margin: 10px;
    font-size: 24px;
    text-shadow: 2px 2px 5px #222;
    box-shadow: 2px 2px 10px #222;
}
.home-content{
    margin: 80px;
    color: var(--oliveGreen);
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: var(--paragraph);
    height: 90vh;
    position: relative;
}
.home-content h2{
    font-family: var(--title);
    text-transform: capitalize;
    font-size: 45px;
}
.content-div{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background: var(--seaGreen);
}
.content-div img{
  width: 50%;
  height: auto;
  margin: 10px;
  box-shadow: 2px 2px 10px #222;
  
}
.content-div p{
  text-align: justify;
  font-size: 16px;
  padding: 10px;
  margin: 0 50px;
  width: 70%;
  font-family: var(--paragraph);
}
/*practice*/
.container{
    width: 100vw;
    height: 100vh;
}
.practice-banner{
    height: 60vh;
    background: linear-gradient(to bottom, var(--transp-oliveGreen) 0%, var(--transp-green) 60%, var(--transp-whiteGreen) 100% ), url(./img/practice-bg.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--whiteGreen);
}
.practice-banner h1{
    font-family: var(--title);
    text-transform: uppercase;
    font-size: 60px;
    text-align: center;
    text-shadow: 2px 2px 5px #222;
}
.title{
    color: var(--green);
    font-family: var(--title);
    text-transform: uppercase;
    text-align: center;
    padding: 20px;
    margin: 10px;
    font-size: 27px;
}
.theory{
    padding: 80px;
}
.steps-intro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    padding: 10px;
    background: var(--green);
    color: var(--whiteGreen);
    font-family: var(--paragraph);
    box-shadow: 2px 2px 5px #222;
    font-size: 20px;
}

.steps{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.steps h2{
    text-align: center;
    font-family: var(--title);
    color: var(--guitar);
    font-size: 30px;
}
.content{
    padding: 20px;
    display: flex;
    justify-content: space-around;
    background: var(--seaGreen);
    box-shadow: 2px 2px 10px #222;
    margin: 10px;
}
.content img{
    width: 250px;
    margin: 10px;
    opacity: .5;
    
}
.step-list{
    padding: 10px;
}
.step-title{
    font-size: 20px;
    color: var(--guitar);
}
.step p{
    color: var(--whiteGreen);
    font-size: 18px;
    text-align: justify;
    font-family: var(--paragraph);
}
.step ul li{
    list-style: circle;
    margin-left: 25px;
    color: var(--oliveGreen);
    font-size: 18px;
    font-family: var(--paragraph);
}
/*tools*/
.tools-banner{
    height: 60vh;
    background: linear-gradient(to bottom, var(--transp-oliveGreen) 0%, var(--transp-green) 60%, var(--transp-whiteGreen) 100% ), url(./img/tools-bg.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--whiteGreen);
}
.tools-banner h1{
    font-family: var(--title);
    text-transform: uppercase;
    font-size: 60px;
    text-align: center;
    text-shadow: 2px 2px 5px #222;
}
.content iframe{
    margin: 20px;
    border: 9px solid var(--clearGuitar);
    box-shadow: 2px 2px 5px #222;
    align-self: center;
}
.content .tutorial{
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--whiteGreen);
    text-shadow: 2px 2px 5px #222;
}
.content .tutorial h2{
    color: var(--guitar);
    font-family: var(--title);
    text-transform: uppercase;
    font-size: 25px;
}
.content .tutorial ol{
    background-color: var(--transp-green);
    padding: 20px;
    box-shadow: 2px 2px 5px #222;
}
.content .tutorial li{
    padding: 5px;
    margin: 5px;
    font-size: 17px;
    font-family: var(--paragraph);
}
/*about*/
.about-banner{
    height: 60vh;
    background: linear-gradient(to bottom, var(--transp-oliveGreen) 0%, var(--transp-green) 60%, var(--transp-whiteGreen) 100% ), url(./img/about-bg.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--whiteGreen);
}
.about-banner h1{
    font-family: var(--title);
    text-transform: uppercase;
    font-size: 60px;
    text-align: center;
    text-shadow: 2px 2px 5px #222;
}
.about-intro{
    display: flex;
    color: var(--oliveGreen);
    justify-content: center;
    align-items: center;
}
.about-intro p{
    font-size: 20px;
    text-align: justify;
    margin: 10px;
    padding: 10px;
    font-family: var(--paragraph);
}
.guitar-info{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.guitar-info h3{
    color: var(--guitar);
    font-family: var(--title);
    text-transform: uppercase;
    font-size: 30px;
}
.structure{
    display: flex;
    justify-content: space-between;
    padding: 30px;
}
.structure img{
    width: 350px;
    margin: 0 30px;
}   
.structure-desc{
    margin: 20px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 2px 5px #222;
    align-self: center;
    line-height: 40px;
}
.structure-desc p{
    font-size: 20px;
    color: var(--whiteGreen);
    font-family: var(--paragraph);
    text-align: justify;
}
.type-of{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.guitar-desc{
    margin: 20px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 2px 5px #222;
    align-self: center;
    position: relative;
    background: var(--transp-green);
    z-index: 1;
    
}
.guitar-desc h4{
    color: var(--clearGuitar);
    font-size:20px;
    text-align: center;
    font-family: var(--title);
    text-shadow: 2px 2px 3px #222;
}
.guitar-desc p{
    color: var(--whiteGreen);
    font-family: var(--paragraph);
    font-size: 18px;
    text-align: justify;
    z-index: 3;
}
.history{
    display: flex;
}
.history h4{
    color: var(--guitar);
    font-family: var(--title);
}
.history-part1{
    padding: 10px;
    font-family: var(--paragraph);
    text-align: justify;
    color: var(--whiteGreen);
}
.history-part2{
    box-shadow: 2px 2px 5px #222;
    padding: 20px;
    margin: 10px;
    font-size: 16px;
    font-family: var(--paragraph);
    line-height: 25px;
    text-align: justify;
    color: var(--oliveGreen);
}
.typeof-img1{
    right: 50px;
    position: absolute;
    z-index: 0;
}

.typeof-img2{
    left: 50px;
    position: absolute;
    z-index: 0;
}
/*experience*/
.experience-banner{
    height: 60vh;
    background: linear-gradient(to bottom, var(--transp-oliveGreen) 0%, var(--transp-green) 60%, var(--transp-whiteGreen) 100% ), url(./img/experience-bg.jpg) no-repeat;
    background-position: bottom;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--whiteGreen);
}
.experience-banner h1{
    font-family: var(--title);
    text-transform: uppercase;
    font-size: 60px;
    text-align: center;
    text-shadow: 2px 2px 5px #222;
}
.experience-content{
    background: linear-gradient(145deg,#0c4325e1 0%, var(--transp-seaGreen)100%), url(./img/experience-content-bg.jpg) no-repeat;
    background-position: top;
    background-size: cover;
    padding: 20px;
    box-shadow: 2px 2px 10px #222;
    margin: 10px;
}
.experience-content p{
    padding: auto;
    line-height: 40px;
    color: var(--whiteGreen);
    font-family: var(--paragraph);
    text-shadow: 1px 1px 1px #222;
}
.experience-content h2{
    font-family: var(--title);
    font-size: 18px;
    color: var(--whiteGreen);
    text-transform: capitalize;
    text-align: center;
    text-shadow: 1px 1px 1px #222;
}



/*footer*/
footer{
    background:linear-gradient(to bottom, var(--transp-oliveGreen) 0%, var(--transp-green) 60%, var(--transp-whiteGreen) 100% ), url(./img/home-content2.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    padding: 30px 0;
    position: relative;
    width: 100vw;
}
.ending{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 80px;
    flex-wrap: nowrap;
}
.last-p{
    width: 500px;
    color: var(--whiteGreen);
    font-family: var(--paragraph);
}
.last-p p{
    text-shadow: 2px 2px 5px #222;
    padding: 20px;
    background: var(--transp-seaGreen);
    box-shadow: 2px 2px 5px #222;
    font-size: var(--title);
}
.last-p h3{
    font-family: var(--title);
    text-transform: uppercase;
}
.end-text{
    margin: 10px;
}
.end-text li{
    font-size: 16px;
    margin: 4px;
}
.copyright{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 10px 80px;
    font-family: var(--paragraph);
}
.copyright  a{
    color: var(--oliveGreen);
}
.dots{
    display: none;
}
.myBtn{
    display: none;
    padding: 5px 10px;
    font-family: var(--paragraph);
    text-transform: capitalize;
    background: var(--oliveGreen);
    color: var(--whiteGreen);
    border-radius: 3px;
    box-shadow: 2px 2px 15px #222;
    cursor: pointer;
    transition: .5 ease;
}

/*responsive*/

@media screen and ( max-width:1024px) {
   
    .dots{
        display: block;
    }
    .myBtn{
        display: block;
    }
    .toolMenuBtn,.toggle_bnt{
        display: block;
    }
    .navbar{
        display: none;
    }
    .banner p{
        width: 600px;
    }
    .more{
        display: none;
    }
    .step-img{
        display: none;
    }
    .content-3{
        display: block;
    }
    .guitar-desc{
        width: 80%;
    }
    .home-content h2{
        font-size: 24px;
    }
    .content-div{
        flex-direction: column;
    }
    .banner h1{
        font-size: 40px;
    }
    .about-intro{
        flex-direction: column;
    }
}
@media screen and ( max-width: 767px){
   body{
    width: 100%wv;
   }
    .tool-content{
        display: flex;
        flex-direction: column;
    }
    .tool-content2{
        display: flex;
        flex-direction: column-reverse;
    }
    .history{
        flex-direction: column;
    }
    .history-part1{
        display: flex;
        align-items: center;
    }
    .history-part1 img{
         width: 150px;
    }
    .structure{
        flex-direction: column;
        align-items: center;
    }
    
    .type-of img{
        display: none;
    }
    .guitar-desc{
        width: 100%;
    }
    .last-p p{
        display: none;
    }
}
@media screen and ( max-width: 600px){
    .banner  h1, .banner h2, .banner p{
        width: 400px;
    }
    .banner p{
        font-size: 20px;
    }
    .home-content p {
        height: 300px;
        overflow: scroll;
    }
    .home-content img{
        width: 250px;
    }
    .last-p h3{
        width: 100px;
        margin-left: -55px;
    }
    .theory{display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .steps-intro{
        width: 450px;
    }
    .steps{
        width: 430px;
       
    }
    .steps .content{
        height: 300px;
        overflow: scroll;
    }
    .structure-desc p{
        font-size: 18px;
    }
    
    .history-part1 {
        width: 400px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    

    .history-part2{
        width: 400px;
        height: 400px;
        overflow: scroll;
    }
    footer{
        background-size: cover;
    }
    

}